{% extends 'twitter/base.html' %}

{% block content %}
<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="../static/img/logo-black.png" alt="twitter logo">
            <h1>Entrar no X</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="user-name-id">Username</label>
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <label for="password-id">Password</label>
                {{ form.password }}
            </div>
            {% if form.errors %}
            <div class="m-erro">
                <p>Desculpe, mas as credenciais fornecidas são inválidas. Verifique novamente seu nome de usuário e senha.</p>
            </div>
            {% endif %}

            <button class="twitter-btn">Entrar</button>
        </form>

        <div class="footer">
            <a href="{% url 'register' %}">Não tem uma conta? Increva-se</a>
        </div>

    </div>
{% endblock content %}